<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="/js/manifest.json">
</head>
<body>

<h2>Register Form</h2>

<form action="/register" method="post">

    <input type="text"
           name="name"
           placeholder="Name"
           required>
    <br><br>

    <input type="email"
           name="email"
           placeholder="Email"
           required>
    <br><br>

    <textarea name="message"
              placeholder="Message"
              required></textarea>
    <br><br>

    <button type="submit">Submit</button>

</form>
<script src="/js/offline.js"></script>
</body>
</html>

